body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#title{
    background-color: #ff4c68;
    color:#fff;

}
#title .container-fluid{
    padding:3% 15% !important;
}

h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900 !important;
}
/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem !important;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 3rem !important;
    font-weight: bold !important;
}

.nav-item{
    padding: 0 18px !important;
}

/* Buttons */
.download-button{
    margin:5% 3% 5% 0;
}

/* Image */
.image-class{
    width:15%;
    transform:rotate(25deg);
    position:absolute;
    right:25%;
    top:15%;
}
@media (max-width:993px){
    #title{
        text-align:center;
    }
    .image-class
    {
        position:static;
        width:30%;
    transform:rotate(0);
    }
}

/* Feature Icons */
#features{
    padding:3% 15% !important;
    background-color: #fff;
    position:relative;
    z-index: 1;
}
.container-fluid{
    padding:3% 15% 7%;
}
.feature-box{
    text-align: center;
    padding:5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
h3{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}
p{
    color: #8f8f8f;
}

/* Testimonials */
#testimonials{
    background-color: #ef8172;
    text-align:center;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-size: 2.5rem !important;
    color: #fff;
}
.testimonial-image{
    width:20%;
    border-radius: 100%;
    margin: 20px;
}
em{
    font-size: 1.5rem ;
    color: #fff;
}

#press{
    background-color: #ef8172;
    text-align: center;
}
.press-logo{
    width:20%;
    margin:20px 10px 50px 10px;
    padding:10px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Pricing */
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-h2{
    color: black !important;
}
.pricing-col{
    /* padding:20px !important; */
    padding: 3% 2%;
}



.card{
    text-align: center;
    padding: 3rem 7rem !important;
}
.pricing-btn1{
    width: 100%;
    padding: .5rem 1rem !important;
    color:#0d6efd !important;
    border-color: #0d6efd !important;
}
.pricing-btn2{
    width: 100%;
    padding: .5rem 1rem !important;
    background-color:#0d6efd !important;
}

/* Call to Action */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding:7% 15%;
    color:#fff;
      
}
#cta h3{
    font-size: 3.0rem !important;
    line-height: 3.5rem !important;
}

/* Footer */

#footer{
    background-color: #fff;
    text-align: center;
    padding:5% 15% ;
    color:#000 ;
}
.footer-icon{
    margin:10px;
}